ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

ul li {
    margin: .5rem 0;
    padding: .5rem;
    border: 1px solid #0351c5;
    border-radius: 3px;
    cursor: pointer;
    transition: all .3s;
}

ul li:hover {
    background: #0351c5;
    color: #fff;
}

.notFound {
    text-align: center;
    color: darkred;
    text-decoration: underline;
}

.listContainer {
    max-height: 150px;
    overflow-y: scroll;
    touch-action: pan-y;
}

.listContainer::-webkit-scrollbar {
    width: 0;
}

.fieldset {
    margin-top: 1rem;
}